<?xml version="1.0" ?>
<repository>
  <name>misconfig-mapper</name>
  <full_name>intigriti/misconfig-mapper</full_name>
  <description>Misconfig Mapper is a fast tool to help you uncover security misconfigurations on popular third-party services used by your company and/or bug bounty targets!</description>
  <url>https://github.com/intigriti/misconfig-mapper</url>
  <clone_url>https://github.com/intigriti/misconfig-mapper.git</clone_url>
  <ssh_url>git@github.com:intigriti/misconfig-mapper.git</ssh_url>
  <metadata>
    <language>Go</language>
    <stars>784</stars>
    <forks>60</forks>
    <watchers>784</watchers>
    <size>4061</size>
    <default_branch>main</default_branch>
    <created_at>2023-09-11T15:10:11Z</created_at>
    <updated_at>2025-08-26T19:22:46Z</updated_at>
    <pushed_at>2025-08-15T05:01:27Z</pushed_at>
    <relationship>starred</relationship>
    <category>cybersecurity</category>
    <is_fork>False</is_fork>
    <is_private>False</is_private>
    <has_wiki>False</has_wiki>
    <has_pages>False</has_pages>
    <has_downloads>True</has_downloads>
  </metadata>
  <topics>
    <topic>bug-bounty</topic>
    <topic>bugbounty</topic>
    <topic>cybersecurity</topic>
    <topic>hacking</topic>
    <topic>hacking-tool</topic>
    <topic>misconfig</topic>
    <topic>misfconfiguration</topic>
    <topic>services</topic>
  </topics>
  <license>
    <name>MIT License</name>
    <spdx_id>MIT</spdx_id>
  </license>
  <owner>
    <login>intigriti</login>
    <type>Organization</type>
    <url>https://github.com/intigriti</url>
  </owner>
  <development_potential>
    <level>high</level>
    <score>8</score>
    <assessment>Excellent potential for integration. High community engagement with 784 stars and active development. Consider for immediate evaluation.</assessment>
  </development_potential>
</repository>
